# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual envs
venv/
env/
.filonenko/
filonenko/
.filonenko_env/

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Docker
*.tar
